{% extends "shop/layout.html" %}

{% block body %}
    <div style="padding-top: 450px;">
        {% if listings_food %}
        <a style="text-decoration: underline dotted; color: black; font-size: 24pt;" href="{% url 'categories' 'food' %}">Food</a>
        <div class="showcase">
            {% for listing in listings_food %}
            <div>
                {% load static %}
                <div style="flex-direction: column;">
                    <img src="{% static listing.image.url %}" width="300" height="300">
                    <br>
                    <a href="{% url 'listing_view' listing.category.bigcategory_name_id.bigcategory_name|lower listing.category.category_name|lower listing.id %}">{{ listing.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="nav-link" style="float: right;" href="{% url 'categories' 'food' %}">show more..</a>
        <br>
        <br>
        {% endif %}
        {% if listings_care %}
        <a style="text-decoration: underline dotted; color: black; font-size: 24pt;" href="{% url 'categories' 'personal_care' %}">Personal Care</a>
        <div class="showcase">
            {% for listing in listings_care %}
            <div>
                {% load static %}
                <div style="flex-direction: column;">
                    <img src="{% static listing.image.url %}" width="300" height="300">
                    <br>
                    <a href="{% url 'listing_view' listing.category.bigcategory_name_id.bigcategory_name|lower listing.category.category_name|lower listing.id %}">{{ listing.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="nav-link" style="float: right;" href="{% url 'categories' 'personal_care' %}">show more..</a>
        <br>
        <br>
        {% endif %}
        {% if listings_accessories %}
        <a style="text-decoration: underline dotted; color: black; font-size: 24pt;" href="{% url 'categories' 'accessories' %}">Accessories</a>
        <div class="showcase">
            {% for listing in listings_accessories %}
            <div>
                {% load static %}
                <div style="flex-direction: column;">
                    <img src="{% static listing.image.url %}" width="300" height="300">
                    <br>
                    <a href="{% url 'listing_view' listing.category.bigcategory_name_id.bigcategory_name|lower listing.category.category_name|lower listing.id %}">{{ listing.title }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <a class="nav-link" style="float: right;" href="{% url 'categories' 'accessories' %}">show more..</a>
        <br>
        <br>
        {% endif %}
    </div>
{% endblock %}