{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Shop{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'shop/favicon.ico' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link style="height: 100px;" href="{% static 'shop/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        {% if not request.user_agent.is_mobile %}
        <div class="header">
            {% if request.resolver_match.url_name == 'index' %}
                <style>
                    body {
                    background: url('static/shop/grocery-bag.jpeg') no-repeat, #ffefd6a8;
                    background-size: auto 500px;
                    }
                </style>
            {% else %}
                <style>
                    body {
                    background-color: #ffefd6a8;
                    }
                </style>
            {% endif %}
            <div>
                <div style="display: flex; flex-direction: row; align-items: center;">
                    <div id="brand">
                        <a class="nav-link" style="font-family: bradley hand, cursive; font-size: 3rem; color: black;" href="{% url 'index' %}">Jardin | Le Jardin</a>
                        <div id="_dropdown_navbar">
                            <ul class="nav" style="display: flex; flex-direction: row; gap: 10px;">
                                <div id="_food">
                                    <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'index' %}aactive{% endif %}" style="color: black;" href="{% url 'categories' 'food' %}">Food</a></li>
                                    <div id="_food-dropdown">
                                        <div class="row">
                                            <ul style="list-style-type: none;">
                                                <li><a href="{% url 'category' 'food' 'bread' %}">Bread</a></li>
                                                <li><a href="{% url 'category' 'food' 'vegetables' %}">Vegetables</a></li>
                                                <li><a href="{% url 'category' 'food' 'meat' %}">Meat</a></li>
                                                <li><a href="{% url 'category' 'food' 'fish' %}">Fish</a></li>
                                                <li><a href="{% url 'category' 'food' 'fruits' %}">Fruits</a></li>
                                                <li><a href="{% url 'category' 'food' 'sweets' %}">Sweets</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="_care">
                                    <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'categories' %}aactive{% endif %}" style="color: black;" href="{% url 'categories' 'personal_care' %}">Personal Care</a></li>
                                    <div id="_care-dropdown">
                                        <div class="row">
                                            <ul style="list-style-type: none;">
                                                <li><a href="{% url 'category' 'personal_care' 'for_hair' %}">For Hair</a></li>
                                                <li><a href="{% url 'category' 'personal_care' 'for_body' %}">For Body</a></li>
                                                <li><a href="{% url 'category' 'personal_care' 'for_face' %}">For Face</a></li>
                                                <li><a href="{% url 'category' 'personal_care' 'cosmetics' %}">Cosmetics</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="_accessories">
                                    <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'myListings' %}aactive{% endif %}" style="color: black;" href="{% url 'categories' 'accessories' %}">Accessories</a></li>
                                    <div id="_accessories-dropdown">
                                        <div class="row" style="text-align: left; align-items: center;">
                                            <ul style="list-style-type: none;">
                                                <li><a href="{% url 'category' 'accessories' 'bags' %}">Bags</a></li>
                                                <li><a href="{% url 'category' 'accessories' 'candles' %}">Candles</a></li>
                                                <li><a href="{% url 'category' 'accessories' 'christmas' %}">Christmas</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: row; margin-left: auto; gap: 10px; margin-bottom: auto; align-items: center;">
                        <div id="_account_button">
                            <div style="display: flex; flex-direction: column; align-items: center;">
                                <a class="nav-link" href="{% url 'account' %}" style="color: black; font-size: 1.5rem;">Account</a>
                                <div id="_account_dropdown" style="height: 0px;">
                                    <ul style="list-style-type: none; padding: 0; margin: 0; display: flex; flex-direction: column; align-items: center;">
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'orders_view' %}">My Orders</a></li>
                                        <li><a href="{% url 'watchlist' %}">Watchlist</a></li>
                                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}">Log In</a></li>
                                        <li><a href="{% url 'register' %}">Register</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <form class="form" action="{% url 'cart' %}">
                            <button action="{% url 'index' %}" id="cart-button" class="btn btn-circle"></button>
                        </form>
                    </div>
                </div>  
            </div>
        </div>
        {% else %}
        <div class="header">
            <style>
                body {
                background-color: #ffefd6a8;
                }
                .header {
                padding: 0px;
                }
            </style>
            <div style="padding-top: 20px;">
                <div style="display: flex; flex-direction: column;">
                    <div class="nav-button" style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px 0 30px;">
                        <a class="nav-link" style="font-family: bradley hand, cursive; font-size: 90px; color: black;" href="{% url 'index' %}">Jardin | Le Jardin</a>
                        <button id="dropdown-button" type="button" class="btn" style="width: 100px; height: 50px;"></button>
                    </div>
                    <div id="dropdown-mobile">
                    <ul style="list-style-type: none; padding: 0px;">
                        <div class="listing" style="padding: 0 0 0 20px;">
                            <li><a style="font-size: 3rem; color: black;" href="{% url 'categories' 'food' %}">Food</a></li>
                        </div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'food' 'bread' %}">Bread</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'food' 'vegetables' %}">Vegetables</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'food' 'meat' %}">Meat</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'food' 'fish' %}">Fish</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'food' 'fruits' %}">Fruits</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'food' 'sweets' %}">Sweets</a></li></div>
                        <div class="listing" style="padding: 0 0 0 20px;">
                            <li><a style="font-size: 3rem; color: black;" href="{% url 'categories' 'personal_care' %}">Personal Care</a></li>
                        </div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'personal_care' 'for_hair' %}">For Hair</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'personal_care' 'for_body' %}">For Body</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'personal_care' 'for_face' %}">For Face</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'personal_care' 'cosmetics' %}">Cosmetics</a></li></div>
                        <div class="listing" style="padding: 0 0 0 20px;">
                            <li><a style="font-size: 3rem; color: black;" href="{% url 'categories' 'accessories' %}">Accessories</a></li>
                        </div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'accessories' 'bags' %}">Bags</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'accessories' 'candles' %}">Candles</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'category' 'accessories' 'christmas' %}">Christmas</a></li></div>
                        <div class="listing" style="display: flex; justify-content: space-between; padding: 0 20px 0 20px;">
                            <li><a style="font-size: 3rem; color: black;" href="{% url 'account' %}">Account</a></li>
                            <form class="form" action="{% url 'cart' %}">
                                <button id="cart-button" class="btn btn-circle"></button>
                            </form>
                        </div>
                        {% if user.is_authenticated %}
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'orders_view' %}">My Orders</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li></div>
                        {% else %}
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'login' %}">Log In</a></li></div>
                        <div class="sublisting listing"><li><a class="nav-link" href="{% url 'register' %}">Register</a></li></div>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="body">
            {% block body %}
            {% endblock %}
            <br>
        </div>
        {% block script %}
            <script src="{% static 'shop/shop.js' %}"></script>
        {% endblock %}
        <footer class="py-5" style="padding: 10px;">
            {% if not request.user_agent.is_mobile %}
            <div class="row">
            {% endif %}
            {% if request.user_agent.is_mobile %}
            <div class="row">
            {% endif %}
                <div class="col-6 {% if request.user_agent.is_mobile %}col-md-5{% else %}col-md-2{% endif %} mb-3">
                    {% if request.user_agent.is_mobile %}
                    <h2>Help & Information</h2>
                    {% else %}
                    <h5>Help & Information</h5>
                    {% endif %}
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0" {% if request.user_agent.is_mobile %} style="font-size: 2.2rem;" {% endif %}>Help</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0" {% if request.user_agent.is_mobile %} style="font-size: 2.2rem;" {% endif %}>Delivery</a></li>
                    </ul>
                </div>
                <div class="col-6 {% if request.user_agent.is_mobile %}col-md-5{% else %}col-md-2{% endif %} mb-3">
                    {% if request.user_agent.is_mobile %}
                    <h2>About</h2>
                    {% else %}
                    <h5>About</h5>
                    {% endif %}
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a class="nav-link p-0" {% if request.user_agent.is_mobile %} style="font-size: 2.2rem;" {% endif %}>About us</a></li>
                        <li class="nav-item mb-2"><a class="nav-link p-0" {% if request.user_agent.is_mobile %} style="font-size: 2.2rem;" {% endif %}>Careers</a></li>
                    </ul>
                </div>
            {% if request.user_agent.is_mobile %}
            </div>
            {% endif %}
                <div class="{% if request.user_agent.is_mobile %}row{% else %}col-md-5 offset-md-1{% endif %} mb-3">
                    <form>
                        {% if request.user_agent.is_mobile %}
                        <h2>Subscribe</h2>
                        <p style="font-size: 1.5rem;">Monthly digest</p>
                        {% else %}
                        <h5>Subscribe</h5>
                        <p>Monthly digest</p>
                        {% endif %}
                        <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                            <input class="form-control" {% if request.user_agent.is_mobile %}style="font-size: 1.5rem;"{% endif %} placeholder="Email address">
                            <button class="btn" style="background-color: #0E5E6F;"><a {% if request.user_agent.is_mobile %}style="font-size: 1.5rem;"{% endif %}>Subscribe</a></button>
                        </div>
                    </form>
                </div>
            {% if not request.user_agent.is_mobile %}
            </div>
            {% endif %}
            <div class="py-4 my-4 border-top align-items-center">
                <p>&copy; 2022 &nbsp; &nbsp;<a style="font-family: bradley hand, cursive; font-size: 20px;">Jardin | Le Jardin</a></p>
            </div>
        </footer>
    </body>
</html>