{% extends "shop/layout.html" %}

{% block title %}Cart{% endblock %}

{% block body %}
    <div style="padding-top: 50px;">
        <a class="{% if request.user_agent.is_mobile %}mobile-cat-h{% else %}cat-h{% endif %}">Orders</a>
        <br>
        <br>
        {% for listing in listings %}
        <div {% if request.user_agent.is_mobile %} style="display: flex; flex-direction: row; padding: 10px; font-size: 2.8rem;" {% else %} style="display: flex; flex-direction: row; padding: 10px; font-size: 20px;" {% endif %}>
            <a href="{% url 'order_view' listing.id %}">&nbsp;{{ listing.id }}&nbsp;
            {{ listing.order_time }}&nbsp;</a>
            <div style="margin-left: auto"><a>${{ listing.total_cost }}</a></div>
        </div>
        <hr style="padding: 0;">
        {% endfor %}
    </div>
{% endblock %}