{% extends "shop/layout.html" %}

{% block body %}

    <a class="{% if request.user_agent.is_mobile %}mobile-cat-h{% else %}cat-h{% endif %}">Register</a>
    <br>
    <br>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" {% if request.user_agent.is_mobile %} style="font-size: 1.9rem; margin-bottom: 5px;" {% else %} style="margin-bottom: 5px;" {% endif %}>
        </div>
        <div class="form-group">
            <input class="form-control" type="email" name="email" placeholder="Email Address" {% if request.user_agent.is_mobile %} style="font-size: 1.9rem; margin-bottom: 5px;" {% else %} style="margin-bottom: 5px;" {% endif %}>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password" {% if request.user_agent.is_mobile %} style="font-size: 1.9rem; margin-bottom: 5px;" {% else %} style="margin-bottom: 5px;" {% endif %}>
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" {% if request.user_agent.is_mobile %} style="font-size: 1.9rem; margin-bottom: 15px;" {% else %} style="margin-bottom: 15px;" {% endif %}>
        </div>
        <button class="btn btnprimary" type="submit"><a {% if request.user_agent.is_mobile %} style="font-size: 2rem;" {% endif %}>Register</a></a></button>
    </form>

    Already have an account? <a href="{% url 'login' %}">Log In here.</a>

{% endblock %}